name: board game

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven    

      - name: Compile
        run: mvn clean compile

  package:
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven    

      - name: Package
        run: mvn clean package -DskipTests

  test:
    runs-on: ubuntu-latest
    needs: package
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven    

      - name: Test
        run: mvn test

  gitleaks:
    runs-on: ubuntu-latest
    needs: test  
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for GitLeaks
        uses: gacts/gitleaks@v1

      - name: Run Gitleaks
        run: gitleaks detect --source .

  docker:
    runs-on: ubuntu-latest
    needs: gitleaks
    steps:

      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: docker build -t aryavedha/boardgame:latest .

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: aryavedha/boardgame:latest
